doctype html
head
    block title
    meta(charset='utf-8')

    block link
        link(rel='stylesheet' type='text/css' href='/client/styles/bootstrap4/bootstrap.min.css')
        link(href='/client/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' rel='stylesheet' type='text/css')
        link(rel='stylesheet' type='text/css' href='/client/plugins/OwlCarousel2-2.2.1/owl.carousel.css')
        link(rel='stylesheet' type='text/css' href='/client/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')
        link(rel='stylesheet' type='text/css' href='/client/plugins/OwlCarousel2-2.2.1/animate.css')
.super_container
    // Header
    header.header
        include header

    block content

    //Newsletter
    .newsletter
        .container
            .row
                .col
                    .newsletter_container.d-flex.flex-lg-row.flex-column.align-items-lg-center.align-items-center.justify-content-lg-start.justify-content-center
                        .newsletter_title_container
                            .newsletter_icon
                                img(src='client/images/send.png' alt='')
                            .newsletter_title Sign up for Newsletter
                            .newsletter_text
                                p ...and receive %20 coupon for first shopping.
                        .newsletter_content.clearfix
                            form.newsletter_form(action='#')
                                input.newsletter_input(type='email' required='required' placeholder='Enter your email address')
                                button.newsletter_button Subscribe
                            .newsletter_unsubscribe_link
                                a(href='#') unsubscribe

    // Footer
    footer.footer
        include footer

block script
    script(src='/client/js/jquery-3.3.1.min.js')
    script(src='/client/styles/bootstrap4/popper.js')
    script(src='/client/styles/bootstrap4/bootstrap.min.js')
    script(src='/client/plugins/greensock/TweenMax.min.js')
    script(src='/client/plugins/greensock/TimelineMax.min.js')
    script(src='/client/plugins/scrollmagic/ScrollMagic.min.js')
    script(src='/client/plugins/greensock/animation.gsap.min.js')
    script(src='/client/plugins/greensock/ScrollToPlugin.min.js')
    script(src='/client/plugins/OwlCarousel2-2.2.1/owl.carousel.js')
    script(src='/client/plugins/slick-1.8.0/slick.js')
    script(src='/client/plugins/easing/easing.js')