extends ../../layouts/master

block extra-css

block title
    title Infomations

block extra-js

    script(type='text/javascript' src='/admin/plugins/ckeditor/ckeditor.js')
    script(type="text/javascript" src="/admin/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(type='text/javascript' src='/admin/js/pages/web-config/information.js')

block content
    .container-fluid
        .block-header
            h2 CONFIG WEBSITE
        // CKEditor
        form#form1(action='/manager/web-config/information' method='POST' name='form-infor')
            .row.clearfix
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .card
                        .header
                            h2
                                | INFORMATION
                        .body
                            .row
                                .col-md-3(style="text-align:center")
                                    h3.card-inside-title Logo
                                    .dz-message
                                        h4 Click to upload.
                                    #img-mask.mask
                                        .preloader.pl-size-xl
                                            .spinner-layer.pl-red
                                                .circle-clipper.left
                                                    .circle
                                                .circle-clipper.right
                                                    .circle
                                    img#blah(src=(information && information.logo)?information.logo:"/admin/images/placeholder.png" alt="your image" style="width: 100%")
                                    .file-field.input-field
                                        .btn.btn-danger.m-t-20
                                            span Browse
                                            input#imgInp(type='file')
                                .col-md-9
                                    h3.card-inside-title About Us
                                    textarea#ckeditor= (information)?information.aboutUs:""

                                    input#about-us(type='hidden' name='aboutUs')
                            .row
                                .col-md-6
                                    b Slogan
                                    .input-group
                                        span.input-group-addon
                                            i.material-icons notes
                                        .form-line
                                            input.form-control(type='text' name='slogan' value=(information && information.slogan)?information.slogan:"")
                                .col-md-6
                                    b Shop name
                                    .input-group
                                        span.input-group-addon
                                            i.material-icons store
                                        .form-line
                                            input.form-control(type='text' name='name' value=(information && information.name)?information.name:"")
                                    input#inpUpload(type='hidden' name='logo' value=(information && information.logo)?information.logo:"")
                            .row
                                .col-sm-4
                                .col-sm-2
                                    button.btn.btn-block.btn-primary.waves-effect(type='submit') SUBMIT
                                .col-sm-2
                                    button#btn-reset.btn.btn-block.btn-warning.waves-effect(type='button') RESET
                                .col-sm-1
                                    button#btn-clear.btn.btn-warning.waves-effect(type='button') CLEAR
                                .col-sm-3