doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title ABC
        link(rel='icon' href='/favicon.ico' type='image/x-icon')
        // Core css
        link(rel='stylesheet' href='/admin/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/admin/plugins/node-waves/waves.min.css')
        link(rel='stylesheet' href='/admin/plugins/animate-css/animate.min.css')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
        // /Core css

        // Extra css
        block extra-css
        // Extra css

        link(rel='stylesheet' href='/admin/css/style.css')
        link(rel='stylesheet' href='/admin/css/themes/all-themes.min.css')

    body.theme-red
    include loader
    // overlay
    .overlay
    // overlay
    include header
    include sidebar

    section.content
        block content

    // Script file
    script(type='text/javascript' src='/admin/plugins/jquery/jquery.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap-select/js/bootstrap-select.min.js')
    script(type='text/javascript' src='/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
    script(type='text/javascript' src='/admin/plugins/node-waves/waves.min.js')
    script(type='text/javascript' src='/admin/js/admin.js')
    script(type='text/javascript' src='/admin/js/demo.js')
    // Extra script
    block extra-js
    // /Extra script