div(style='height: 500px')
    .container
        div(style='height: 100px')
        h1.text-center
            big(style='font-size:300%') 404
        p
        h3.text-center Not found any #{items}
        div(style='height: 50px')
        .button-place.text-center
            a.btn.btn-outline-secondary.btn-lg.waves-effect(href='/') GO BACK