extends ../layout/master

block title
    title Blog

block append link
    link(rel='stylesheet' type='text/css' href='client/styles/blog_styles.css')
    link(rel='stylesheet' type='text/css' href='client/styles/blog_responsive.css')
    link(rel='stylesheet' type='text/css' href='client/styles/blog.css')
    //link(rel=stylesheet type='text/css' href='/admin/plugins/bootstrap-select/js/bootstrap-select.min.js')

block content
    // Home
    .home
        .home_background.parallax-window(data-parallax='scroll' data-image-src='images/shop_background.jpg')
        .home_overlay
        .home_content.d-flex.flex-column.align-items-center.justify-content-center
            h2.home_title Technological Blog
    // Blog
    .blog
        .container
            - if (!blogs || blogs.length === 0)
                .row.text-center
                    .col-lg-12
                        h1 There are no posts
            - else
                .row
                    .col
                        .blog_posts.d-flex.flex-row.align-items-start.justify-content-between
                            - for (var i = 0; i < blogs.length; i ++)
                                .blog_post
                                    .blog_text(style='font-weight: normal;')
                                        | #{blogs[i].title}
                                    .blog_button
                                        a(href='/blog/' + blogs[i].uri_title) Continue Reading
                - if (meta)
                    - let limit = ''
                    - if (meta.limit !== 9)
                        - limit += '&limit=' + meta.limit
                    .row.text-right
                        ul.pagination(style='margin-right: 1%')
                            - if (meta.page === 1)
                                li.paginate_button.disabled
                                    a(style='border: none') First
                            - else
                                li.paginate_button
                                    a(href='/blog?' + limit.substring(1) style='border: none') First
                            - let i = meta.page > 5 ? meta.page - 4 : 1
                            - if (i !== 1)
                                li.paginate_button.disabled
                                    a(style='border: none') ...
                            - for (; i <= meta.page + 4 && i <= meta.total; i ++)
                                - if (i === meta.page)
                                    li.paginate_button.active
                                        a(style='border: none')= i
                                - else
                                    li.paginate_button
                                        a(href='/blog?page=' + i + limit style='border: none')= i
                                - if (i === meta.page + 4 && i < meta.total)
                                    li.paginate_button.disabled
                                        a(style='border: none') ...
                            - if (meta.page === meta.total)
                                li.paginate_button.disabled
                                    a(style='border: none') Last
                            - else
                                li.paginate_button
                                    a(href='/blog?page=' + meta.total + limit style='border: none') Last

block append script
    script(src='client/js/blog_custom.js')



