extends ../layout/master

block title
    title Cart

block append link
    link(rel='stylesheet' type='text/css' href='client/styles/cart_styles.css')
    link(rel='stylesheet' type='text/css' href='client/styles/cart_responsive.css')

block content
    // Cart
    .cart_section
        .container
            .row
                .col-lg-10.offset-lg-1
                    .cart_container
                        .cart_title Shopping Cart
                        .cart_items
                            ul.cart_list
                                li.cart_item.clearfix
                                    .cart_item_image
                                        img(src='client/images/shopping_cart.jpg' alt='')
                                    .cart_item_info.d-flex.flex-md-row.flex-column.justify-content-between
                                        .cart_item_name.cart_info_col
                                            .cart_item_title Name
                                            .cart_item_text MacBook Air 13
                                        .cart_item_color.cart_info_col
                                            .cart_item_title Color
                                            .cart_item_text
                                                span(style='background-color:#999999;')
                                                | Silver
                                        .cart_item_quantity.cart_info_col
                                            .cart_item_title Quantity
                                            .cart_item_text 1
                                        .cart_item_price.cart_info_col
                                            .cart_item_title Price
                                            .cart_item_text $2000
                                        .cart_item_total.cart_info_col
                                            .cart_item_title Total
                                            .cart_item_text $2000
                        // Order Total
                        .order_total
                            .order_total_content.text-md-right
                                .order_total_title Order Total:
                                .order_total_amount $2000
                        //Customer form


                        .cart_buttons
                            button.button.cart_button_checkout(type='button') Submit

block append script
    script(src='client/js/cart_custom.js')

