extends ../../layouts/master

block extra-css

block extra-js

block content
    .container-fluid
        .block-header
            h2 PRODUCT MANAGER
        // Basic Table
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | Brand listing
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body.table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th NAME
                                    th DESCRIPTION
                                    th LOGO
                                    th ACTION
                            tbody
                                tr
                                    th(scope='row') 1
                                    td Mark
                                    td Otto
                                    td
                                        .card(style='background-image:url("/admin/images/download.png");background-size: cover; width: 60px; height: 60px;')
                                    td
                                        button.btn.btn-link(type='button') Edit
                                        button.btn.btn-link(type='button') Delete
                                tr
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td
                                        .card(style='background-image:url("/admin/images/download.png");background-size: cover; width: 60px; height: 60px;')
                                    td
                                        button.btn.btn-link(type='button') Edit
                                        button.btn.btn-link(type='button') Delete

                                tr
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td
                                        .card(style='background-image:url("/admin/images/download.png");background-size: cover; width: 60px; height: 60px;')
                                    td
                                        button.btn.btn-link(type='button') Edit
                                        button.btn.btn-link(type='button') Delete
                                tr
                                    th(scope='row') 4
                                    td Larry
                                    td Jellybean
                                    td
                                        .card(style='background-image:url("/admin/images/download.png");background-size: cover; width: 60px; height: 60px;')
                                    td
                                        button.btn.btn-link(type='button') Edit
                                        button.btn.btn-link(type='button') Delete
                                tr
                                    th(scope='row') 5
                                    td Larry
                                    td Kikat
                                    td
                                        .card(style='background-image:url("/admin/images/download.png");background-size: cover; width: 60px; height: 60px;')
                                    td
                                        button.btn.btn-link(type='button') Edit
                                        button.btn.btn-link(type='button') Delete
                        ul.pagination(style='float:right')
                            li.disabled
                                a(href='#!')
                                    i.material-icons chevron_left
                            li.active
                                a(href='#!') 1
                            li.waves-effect
                                a(href='#!') 2
                            li.waves-effect
                                a(href='#!')
                                    i.material-icons chevron_right