extends ../../layouts/master

block extra-css
    link(href='/admin/css/brands.css' rel='stylesheet')
block extra-js

block content
    .card
        .header
            h2
                | List brands
            ul.header-dropdown.m-r--5
                li.dropdown
                    a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                        i.material-icons more_vert
                    ul.dropdown-menu.pull-right
                        li
                            a(href='javascript:void(0);') Action
                        li
                            a(href='javascript:void(0);') Another action
                        li
                            a(href='javascript:void(0);') Something else here
        .body.table-responsive
            .row
                .col-sm-8

                .col-sm-3
                    .form-group
                        .form-line
                            input.form-control(type='text', placeholder='Search')
                .col-sm-1
                    button.btn.btn-danger.btn-circle.waves-effect.waves-circle.waves-float(type='button')
                        i.material-icons search
            .row
                table.table.text-center.table-bordered.table-hover
                    thead
                        tr
                            th.text-center #
                            th.text-center NAME
                            th.text-center DESCRIPTION
                            th.text-center LOGO
                            th.text-center ACTION
                    tbody
                        tr
                            th.text-center(scope='row') 1
                            td Mark
                            td Otto
                            td
                                .logo
                            td
                                a.btn.btn-link
                                    i.material-icons details
                                a.btn.btn-link
                                    i.material-icons edit
                                a.btn.btn-link
                                    i.material-icons delete
                        tr
                            th.text-center(scope='row') 2
                            td Jacob
                            td Thornton
                            td
                                .logo
                            td
                                a.btn.btn-link
                                    i.material-icons details
                                a.btn.btn-link
                                    i.material-icons edit
                                a.btn.btn-link
                                    i.material-icons delete

                        tr
                            th.text-center(scope='row') 3
                            td Larry
                            td the Bird
                            td
                                .logo
                            td
                                a.btn.btn-link
                                    i.material-icons details
                                a.btn.btn-link
                                    i.material-icons edit
                                a.btn.btn-link
                                    i.material-icons delete
                        tr
                            th.text-center(scope='row') 4
                            td Larry
                            td Jellybean
                            td
                                .logo
                            td
                                a.btn.btn-link
                                    i.material-icons details
                                a.btn.btn-link
                                    i.material-icons edit
                                a.btn.btn-link
                                    i.material-icons delete
                        tr
                            th.text-center(scope='row') 5
                            td Larry
                            td Kikat
                            td
                                .logo
                            td
                                a.btn.btn-link
                                    i.material-icons details
                                a.btn.btn-link
                                    i.material-icons edit
                                a.btn.btn-link
                                    i.material-icons delete
                ul.pagination(style='float:right')
                    li.disabled
                        a(href='#!')
                            i.material-icons chevron_left
                    li.active
                        a(href='#!') 1
                    li.waves-effect
                        a(href='#!') 2
                    li.waves-effect
                        a(href='#!')
                            i.material-icons chevron_right