extends ../../layouts/master

block extra-css

block extra-js

block content
    .container-fluid
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | PARENT CATEGORIES
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body.table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th.text-center NAME
                                    th.text-center DESCRIPTION
                                    th.text-center CHILDREN
                                    th.text-center UPDATED AT
                                    th.text-center ACTION
                            tbody.text-center
                                tr
                                    th(scope='row') 1
                                    td Markg
                                    td Ottog
                                    td @mdogd
                                    td
                                    td
                                        a.btn.btn-link
                                            i.material-icons edit
                                        a.btn.btn-link
                                            i.material-icons delete
                                tr
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td
                                    td
                                        a.btn.btn-link
                                            i.material-icons edit
                                        a.btn.btn-link
                                            i.material-icons delete
                                tr
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td @twitter
                                    td
                                    td
                                        a.btn.btn-link
                                            i.material-icons edit
                                        a.btn.btn-link
                                            i.material-icons delete
                                tr
                                    th(scope='row') 4
                                    td Larry
                                    td Jellybean
                                    td @lajelly
                                    td
                                    td
                                        a.btn.btn-link
                                            i.material-icons edit
                                        a.btn.btn-link
                                            i.material-icons delete

        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | ADD CATEGORIES
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        form(method='POST')
                            .row.clearfix
                                .col-sm-12
                                    .form-group.form-float
                                        .form-line
                                            input.form-control(type='text')
                                            label.form-label Name
                                .col-sm-12
                                    .form-group.form-float
                                        .form-line
                                            input.form-control(type='text')
                                            label.form-label Description
                            button.btn.btn-primary.waves-effect(type='submit') Submit
