extends ../../layouts/master

block title
    title Order Form

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/autosize/autosize.min.js')
    script(type='text/javascript' src='/admin/plugins/js-cookie/js.cookie.min.js')
    script(type="text/javascript" src="/admin/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(type='text/javascript' src='/admin/js/pages/orders/order-form.js')

block content
    .card.p-b-15
        .header
            h2
                | Order Products
        .body
            #alert-product.alert.bg-red(style='display:none') Please select some Product
            table.table.table-bordered
                thead
                    tr
                        th.text-center #
                        th.text-center PRODUCT
                        th.text-center QUANTITY
                        th.text-center UNIT PRICE
                        th.text-center TOTAL PRICE
                tfoot
                    tr
                        th.text-center(rowspan='1' colspan='1') TOTAL
                        th#order-total-price.text-center(rowspan='1' colspan='2') 0

                tbody#product-table
                    tr(data-price=0 data-index=0)
                        th.text-center(scope='row') 1
                        td
                            select.select-product.form-control(data-live-search='true' data-index=0)
                                option(value='' data-price=0) Search Product
                        td
                            .form-group(style='margin-bottom: 0')
                                .form-line
                                    input.input-quantity.form-control(placeholder='Quantity' type='number' value=1 data-index=0)
                        td.unit-price(data-index=0)
                        td.total-price(data-index=0)
            button#add-product-btn.btn.btn-danger.waves-effect(type='button')
                | Add Product
    .card.p-b-15
        .header
            h2
                | Order Information
        .body
            form(name='order-form' method='POST' action='/manager/orders/create')
                .row.clearfix
                    .col-sm-6
                        b Email
                        .input-group
                            span.input-group-addon
                                i.material-icons contact_mail
                            .form-line
                                input.form-control(name='receiver_email' type='email' placeholder='Contact Email')
                            label.text-danger
                    .col-sm-6
                        b Phone
                        .input-group
                            span.input-group-addon
                                i.material-icons phone
                            .form-line
                                input.form-control(name='receiver_phone' type='text' placeholder='Contact Phone')
                            label.text-danger

                .row.clearfix
                    .col-sm-4
                        b City
                        .input-group
                            span.input-group-addon
                                i.material-icons location_city
                            .form-line
                                select#select-city.form-control(data-live-search='true' name='receiver_city')
                                    option(value='') Choose city
                                    - if (cities)
                                        - for (c of cities)
                                            option(value=c.ID) #{c.Title}
                            label.text-danger
                    .col-sm-4
                        b District
                        .input-group
                            span.input-group-addon
                                i.material-icons location_searching
                            .form-line
                                select#select-district.form-control(data-live-search='true' disabled name='receiver_district')
                                    option(value='') Choose district
                            label.text-danger

                    .col-sm-4
                        b Address
                        .input-group
                            span.input-group-addon
                                i.material-icons location_on
                            .form-line
                                input.form-control.date(name='receiver_address' type='text' placeholder='Address')
                            label.text-danger
                    input#total-price-input(type='hidden' name='total')
                button#submit-btn.btn.btn-danger.waves-effect(type='submit')
                    | Submit
                button.btn.btn-warning.waves-effect.m-l-5(type='reset')
                    | Reset