.container-fluid
    .block-header
        h2 DASHBOARD
    // Widgets
    .row.clearfix
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-pink.hover-expand-effect
                .icon
                    i.material-icons playlist_add_check
                .content
                    .text NEW TASKS
                    .number.count-to(data-from='0' data-to='125' data-speed='15' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-cyan.hover-expand-effect
                .icon
                    i.material-icons help
                .content
                    .text NEW TICKETS
                    .number.count-to(data-from='0' data-to='257' data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-light-green.hover-expand-effect
                .icon
                    i.material-icons forum
                .content
                    .text NEW COMMENTS
                    .number.count-to(data-from='0' data-to='243' data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-orange.hover-expand-effect
                .icon
                    i.material-icons person_add
                .content
                    .text NEW VISITORS
                    .number.count-to(data-from='0' data-to='1225' data-speed='1000' data-fresh-interval='20')
    // #END# Widgets
    // CPU Usage
    .row.clearfix
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .card
                .header
                    h2 RATIO OF PRODUCTS
                    ul.header-dropdown.m-r--5
                        li.dropdown
                            a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                i.material-icons more_vert
                            ul.dropdown-menu.pull-right
                                li
                                    a(href='javascript:void(0);') Action
                                li
                                    a(href='javascript:void(0);') Another action
                                li
                                    a(href='javascript:void(0);') Something else here
                .body
                    #donut_chart.graph
        .col-lg-8.col-md-8.col-sm-12.col-xs-12
            .card
                .header
                    h2 QUANTITY OF GOODS IN WEEK
                    ul.header-dropdown.m-r--5
                        li.dropdown
                            a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                i.material-icons more_vert
                            ul.dropdown-menu.pull-right
                                li
                                    a(href='javascript:void(0);') Action
                                li
                                    a(href='javascript:void(0);') Another action
                                li
                                    a(href='javascript:void(0);') Something else here
                .body
                    #bar_chart.graph
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2 REVENUE IN WEEK
                    ul.header-dropdown.m-r--5
                        li.dropdown
                            a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                i.material-icons more_vert
                            ul.dropdown-menu.pull-right
                                li
                                    a(href='javascript:void(0);') Action
                                li
                                    a(href='javascript:void(0);') Another action
                                li
                                    a(href='javascript:void(0);') Something else here
                .body
                    #line_chart.graph
        // #END# Browser Usage