extends ../layouts/master

block extra-css
    link(href="/admin/plugins/morrisjs/morris.min.css" rel="stylesheet")
block extra-js
    script(type='text/javascript' src='/admin/plugins/jquery-countto/jquery.countTo.min.js')
    script(type='text/javascript' src='/admin/plugins/raphael/raphael.min.js')
    script(type='text/javascript' src='/admin/plugins/morrisjs/morris.min.js')
    script(type='text/javascript' src='/admin/js/pages/charts/morris.js')
    script(type='text/javascript' src='/admin/js/pages/index.js')

block content
    .container-fluid
        .block-header
            h2 DASHBOARD
        .row.clearfix
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                .card
                    .header
                        h2 RATIO OF PRODUCTS IN THIS WEEK
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisWeek' data-type='ratio' data-message='RATIO OF PRODUCTS IN THIS WEEK') This Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastWeek' data-type='ratio' data-message='RATIO OF PRODUCTS IN LAST WEEK') Last Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisMonth' data-type='ratio' data-message='RATIO OF PRODUCTS IN THIS MONTH') This Month
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastMonth' data-type='ratio' data-message='RATIO OF PRODUCTS IN LAST MONTH') Last Month
                    .body
                        #donut_chart.graph
            .col-lg-8.col-md-8.col-sm-12.col-xs-12
                .card
                    .header
                        h2 QUANTITY OF ORDER IN WEEK
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisWeek' data-type='order_quantity' data-message='QUANTITY OF ORDER IN THIS WEEK') This Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastWeek' data-type='order_quantity' data-message='QUANTITY OF ORDER IN LAST WEEK') Last Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisMonth' data-type='order_quantity' data-message='QUANTITY OF ORDER IN THIS MONTH') This Month
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastMonth' data-type='order_quantity' data-message='QUANTITY OF ORDER IN LAST MONTH') Last Month
                    .body
                        #bar_chart.graph

            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                .card
                    .header
                        h2 RATIO REVENUE BY CITIES THIS WEEK
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisWeek' data-type='city_revenue_ratio' data-message='RATIO REVENUE BY CITIES THIS WEEK') This Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastWeek' data-type='city_revenue_ratio' data-message='RATIO REVENUE BY CITIES LAST WEEK') Last Week
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='thisMonth' data-type='city_revenue_ratio' data-message='RATIO REVENUE BY CITIES THIS MONTH') This Month
                                    li
                                        a.load-chart-btn(href='javascript:void(0);' data-time='lastMonth' data-type='city_revenue_ratio' data-message='RATIO REVENUE BY CITIES LAST MONTH') Last Month
                    .body
                        #city_ratio_chart.graph

            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2 REVENUE IN WEEK
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        #line_chart.graph