extends ../../layouts/master

block extra-css

block extra-js
    script(type='text/javascript' src='/admin/js/pages/web-config/information.js')

block content
    .card
        .header
            h2
                | ADD BRAND
        .body
            form
                .row
                    .col-sm-4(style="text-align:center")
                        .dz-message
                            h4 Click to upload.
                        img#blah(src="/admin/images/placeholder.png" alt="your image" style="width=100px; height=120px")
                        .file-field.input-field
                            .btn.btn-danger.m-t-20
                                span Browse
                                input#imgInp(type='file')

                    .col-sm-6
                        b Brand Name
                        .input-group
                            span.input-group-addon
                                i.material-icons store
                            .form-line
                                input.form-control(type='text')

                        b Brand Description
                        .input-group
                            .form-line
                                textarea.form-control.no-resize(rows='8')

                .row
                    .col-sm-4
                    .col-sm-2
                        button.btn.btn-block.btn-primary.waves-effect(type='button') SUBMIT
                    .col-sm-2
                        button.btn.btn-block.btn-warning.waves-effect(type='reset') RESET
                    .col-sm-4
