extends ../../layouts/master

block extra-css

block extra-js
    script(type='text/javascript' src='/admin/js/pages/products-manager/brand-form.js')

block content
    .card
        .header
            h2
                | ADD BRAND
        .body
            form(action='/manager/dashboard/products-manager/brands' method='POST')
                .row
                    .col-sm-4(style="text-align:center")
                        .dz-message
                            h4 Click to upload.
                        img#blah(src="/admin/images/placeholder.png" alt="your image" style="width: 100%")
                        #img-mask.mask
                            .preloader.pl-size-xl
                                .spinner-layer.pl-red
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                        .file-field.input-field
                            .btn.btn-danger.m-t-20
                                span Browse
                                input#imgInp(type='file')

                    .col-sm-6
                        b Brand Name
                        .input-group
                            span.input-group-addon
                                i.material-icons store
                            .form-line
                                input.form-control(type='text' name='name')

                        b Brand Description
                        .input-group
                            .form-line
                                textarea.form-control.no-resize(rows='8' name='description')
                        input#inpUpload(type='hidden' name='logo')

                .row
                    .col-sm-4
                    .col-sm-2
                        input.btn.btn-block.btn-primary.waves-effect(type='submit' value='SUBMIT')
                    .col-sm-2
                        button.btn.btn-block.btn-warning.waves-effect(type='reset') RESET
                    .col-sm-4
