extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')
    link(rel='stylesheet' href='/admin/plugins/dropzone/dropzone.min.css')
    link(rel='stylesheet' href='/admin/plugins/multi-select/css/multi-select.min.css')
    link(rel='stylesheet' href='/admin/plugins/jquery-spinner/css/bootstrap-spinner.min.css')
    link(rel='stylesheet' href='/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.css')
    link(rel='stylesheet' href='/admin/plugins/nouislider/nouislider.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/ckeditor/ckeditor.js')
    script(type='text/javascript' src='/admin/js/pages/forms/editors.js')
    script(type='text/javascript' src='/admin/plugins/autosize/autosize.min.js')
    script(type='text/javascript' src='/admin/plugins/momentjs/moment.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js')
    script(type='text/javascript' src='/admin/js/pages/forms/basic-form-elements.js')
    script(type='text/javascript' src='/admin/js/form-init.js')
    script(type='text/javascript' src='/admin/js/pages/web-config/information.js')

block content
    .card
        .header
            h2
                | ADD BRAND
        .body
            form
                .row
                    .col-sm-4(style="text-align:center")
                        .dz-message
                            h4 Click to upload.
                        img#blah(src="/admin/images/placeholder.png" alt="your image" style="width=100px; height=120px")
                        .file-field.input-field
                            .btn.btn-danger.m-t-20
                                span Browse
                                input#imgInp(type='file')

                    .col-sm-6
                        b Brand Name
                        .input-group
                            span.input-group-addon
                                i.material-icons store
                            .form-line
                                input.form-control(type='text')

                        b Brand Description
                        .input-group
                            .form-line
                                textarea.form-control.no-resize(rows='8')

                .row
                    .col-sm-4
                    .col-sm-2
                        button.btn.btn-block.btn-primary.waves-effect(type='button') SUBMIT
                    .col-sm-2
                        button.btn.btn-block.btn-warning.waves-effect(type='reset') RESET
                    .col-sm-4
