.container
    .col-md-2
    .col-md-6
        img(src='/admin/images/NoRecordFound.png' style='width :100%')
        h1
        center
            a.btn.btn-default.btn-lg.waves-effect(href='/manager/products-manager/brands') GO TO LIST BRANDS
        h1

