extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet' href='/admin/plugins/sweetalert/sweetalert.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/bootstrap-notify/bootstrap-notify.js')
    script(type='text/javascript' src='/admin/plugins/sweetalert/sweetalert.min.js')
    script(type='text/javascript' src='/admin/js/pages/products-manager/products.js')
block content
    .card
        .header
            h2
                | PRODUCTS
            ul.header-dropdown.m-r--5
                li.dropdown
                    a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                        i.material-icons more_vert
                    ul.dropdown-menu.pull-right
                        li
                            a(href='javascript:void(0);') Action
                        li
                            a(href='javascript:void(0);') Another action
                        li
                            a(href='javascript:void(0);') Something else here
        .body
            .table-responsive
                .row
                    .col-sm-8

                    .col-sm-3
                        .form-group
                            .form-line
                                input.form-control(type='text', placeholder='Search')
                    .col-sm-1
                        button.btn.btn-danger.btn-circle.waves-effect.waves-circle.waves-float(type='button')
                            i.material-icons search
                - if (type === 0)
                    | No products
                - else
                    .row
                        .col-sm-12
                            table.table.table-bordered.table-hover
                                thead
                                    tr
                                        th #
                                        th.text-center CODE
                                        th.text-center IMAGE
                                        th.text-center NAME
                                        th.text-center ACTION
                                tbody.text-center
                                    - let length = products.length;
                                    - for (let i = 0; i < length; i ++)
                                        tr
                                            th(scope='row') #{i}
                                            td #{products[i].code}
                                            td(align="center")
                                                div(style='background-image: url('+products[i].images[0]+');background-size: cover; height: 70px; width: 100px;')
                                            td #{products[i].name}
                                            td.text-center.js-sweetalert.js-modal-buttons
                                                button.btn.btn-link.waves-effect.btn-detail(data-p=products[i])
                                                    i.material-icons details
                                                a.btn.btn-link.waves-effect(href='/manager/dashboard/products-manager/add-product')
                                                    i.material-icons mode_edit
                                                button.btn.btn-link.waves-effect(type='button', data-type="ajax-loader")
                                                    i.material-icons delete
                - if (type === 2)
                    .row
                        .col-sm-7

                        .col-sm-5
                            ul.pagination
                                li#DataTables_Table_0_previous.paginate_button.previous.disabled
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='0', tabindex='0') Previous
                                li.paginate_button.active
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='1', tabindex='0') 1
                                li.paginate_button
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='2', tabindex='0') 2
                                li.paginate_button
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='3', tabindex='0') 3
                                li.paginate_button
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='4', tabindex='0') 4
                                li.paginate_button
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='3', tabindex='0') 5
                                li.paginate_button
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='4', tabindex='0') 6
                                li#DataTables_Table_0_next.paginate_button.next
                                    a(href='#', aria-controls='DataTables_Table_0', data-dt-idx='7', tabindex='0') Next


    #largeModal.modal.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h4#largeModalLabel.modal-title Product Detail
                .modal-body#productModalDetail
                    .row
                        .col-sm-12
                            .table-responsive
                                table.table.table-bordered.table-hover
                                    thead
                                        tr
                                            th.text-center #
                                            th.text-center PROPERTIES
                                            th.text-center VALUE
                                    tbody.text-center
                                        tr
                                            td 1
                                            td CODE
                                            td.productCode-modal
                                        tr
                                            td 2
                                            td IMAGE
                                            td(align='center')
                                                div.productImg-modal(style="background-size: cover; height: 70px; width: 100px;")
                                        tr
                                            td 3
                                            td NAME
                                            td.productName-modal
                                        tr
                                            td 4
                                            td DESCRIPTION
                                            td.productDescription-modal
                                        tr
                                            td 5
                                            td CATEGORIES
                                            td.productCategory-modal
                                        tr
                                            td 6
                                            td BRAND
                                            td.productBrand-modal
                                        tr
                                            td 7
                                            td PRICE
                                            td.productPrice-modal
                    div#specifications(style='display: none')
                        .row
                            .col-sm-3
                                h5 Specification
                        .row
                            .col-sm-12
                                .table-responsive
                                    table.table.table-bordered.table-hover.text-center
                                        thead
                                            tr
                                                th.text-center #
                                                th.text-center PROPERTIES
                                                th.text-center VALUE
                                        tbody#specificationsbody

                .modal-footer
                    .row.js-sweetalert
                        .col-sm-4

                        .col-sm-2
                            a.btn.btn-block.btn-danger.waves-effect(type='button', href='/manager/dashboard/products-manager/add-product') EDIT
                        .col-sm-2
                            button.btn.btn-block.btn-danger.waves-effect(type='button', data-type="ajax-loader") DELETE
                        .col-sm-3
                            button.btn.btn-link.waves-effect(type='button' data-dismiss='modal') CLOSE
                        .col-sm-1


