extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/dropzone/min/dropzone.min.css')
    link(rel='stylesheet' href='/admin/plugins/multi-select/css/multi-select.min.css')
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/ckeditor/ckeditor.js')
    script(type='text/javascript' src='/admin/js/pages/products-manager/xregexp-all.js')
    script(type="text/javascript" src="/admin/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(type="text/javascript" src="/admin/plugins/multi-select/js/jquery.multi-select.min.js")
    script(type="text/javascript" src="/admin/plugins/dropzone/dropzone.min.js")
    script(type='text/javascript' src='/admin/js/pages/products-manager/products-form.js')

block content
    .card
        .header
            h2
                | ADD PRODUCT
        .body
            #alert-error
            form(name="product-form")
                .row.clearfix
                    .col-sm-6
                        b Product Name
                        .input-group
                            span.input-group-addon
                                i.material-icons games
                            .form-line
                                input.form-control.date(name='name' type='text' placeholder='Product Name' onkeyup="validateProductName(this)")
                            label
                    .col-sm-6
                        b Product Price
                        .input-group
                            span.input-group-addon
                                i.material-icons attach_money
                            .form-line
                                input.form-control.date(name='price' type='text' placeholder='Price' onkeyup="validateProductPrice(this)")
                            label

                .row.clearfix
                    .col-sm-4
                        b Product Code
                        .input-group
                            span.input-group-addon
                                i.material-icons code
                            #code.form-line
                                input.form-control.date(name='code' type='text' placeholder='Code' onkeyup="validateProductCode(this)")
                            label

                    .col-sm-4
                        b Categories
                        .input-group
                            span.input-group-addon
                                i.material-icons collections
                            #category
                                select.form-control.show-tick(name='category' multiple='' onchange="validateCategory(this)")
                                    option Phone
                                    option Laptop
                                    option Audio and Video
                            label

                    .col-sm-4
                        b Brands
                        .input-group
                            span.input-group-addon
                                i.material-icons local_offer
                            #brand
                                select.form-control.show-tick(name='brand' onchange="validateBrand(this)")
                                    option(value='') -- Please select --
                                    option(value='10') Ipone
                                    option(value='20') SamSung
                                    option(value='30') Nokia
                                    option(value='40') LG
                                    option(value='50') Lenovo
                            label

                h2.card-inside-title Product Description
                .row.clearfix
                    .col-sm-12
                        .input-group
                            .form-line
                                textarea#ckeditor(name='description' onkeyup="validateDescription(this)")
                            label

                h2.card-inside-title Product Images
                .row.clearfix
                    .col-sm-12
                        #frm-file-upload.dropzone.custom-dropzone(action='https://api.cloudinary.com/v1_1/fpt-aptech/image/upload' enctype='multipart/form-data')
                            .dz-message
                                .drag-icon-cph
                                    i.material-icons touch_app
                                h3 Drop image here or click to upload.
                                em
                                    | (This is just a demo dropzone. Selected files are
                                    strong not
                                    |  actually uploaded.)
                            .fallback
                                input(name='myImg' type='file' multiple='')
                                input(type='hidden' name = 'upload_preset' value='gwq6ik7v')

                h2.card-inside-title Specification
                #spec

                .row
                    .col-sm-3
                        button#add-spec-btn.btn.btn-danger.waves-effect.waves-float(type='button')
                            i.material-icons add
                            span ADD PROPERTIES

                #url-images(style="display: none;")

                .row.clearfix
                    .col-sm-4
                    .col-sm-2
                        button#btn-submit.btn.btn-block.btn-primary.waves-effect(type='button') SUBMIT
                    .col-sm-2
                        button#btn-reset.btn.btn-block.btn-warning.waves-effect(type='reset') RESET
                    .col-sm-4
