extends ./components/user-account-layout

block title
    title User And Account

block append extra-js
    script(type='text/javascript' src='/admin/js/pages/users-manager/users-form.js')

block content
    .container-fluid
        .row.clearfix
            - if (!user)
                include ../products-manager/404
            - else
                include ./components/user-form
                - if (!user.account || user.account.length === 0)
                    - link = '/manager/users-manager/users/' + user.mid + '/account'
                    include ./components/404-account
                - else
                    - account = user.account[0]
                    include ./components/account-form