.four-zero-four
    .four-zero-four-container
        .error-code 404
        .error-message Not found any account
        .button-place
            a.btn.btn-default.btn-lg.waves-effect(href=link) Add an account for this user