extends ../../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css')
    link(rel='stylesheet' href='/admin/plugins/waitme/waitMe.min.css')
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/autosize/autosize.js')
    script(type='text/javascript' src='/admin/plugins/momentjs/moment.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')
    script(type="text/javascript" src="/admin/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(type='text/javascript' src='/admin/js/pages/users-manager/user-account-layout.js')
